{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}ELASoft Admin{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">ELASoft Admin</a>
  </h1>
{% endblock %}

{% block usertools %}
  <div id="user-tools">
    {% if user.is_active and user.is_authenticated %}
      Bienvenido, {{ user.get_full_name|default:user.username }}.
      <a href="http://localhost:5173/manual.pdf" target="_blank">Ver Manual</a> |
     <form action="{% url 'admin:logout' %}?next=/admin/login/" method="post" style="display:inline;">
       {% csrf_token %}
       <button type="submit" style="background:none;border:none;padding:0;margin:0;font:inherit;color:inherit;cursor:pointer;text-transform:uppercase;">
         {% translate 'Log out' %}
       </button>
     </form>
    {% endif %}
  </div>
{% endblock %}
